<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CitraTouchControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <CitraTouchControl.Properties.Settings>
            <setting name="A_KEY" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="B_KEY" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="X_KEY" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Y_KEY" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="L_KEY" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="R_KEY" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="LEFT_KEY" serializeAs="String">
                <value>37</value>
            </setting>
            <setting name="RIGHT_KEY" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="UP_KEY" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="DOWN_KEY" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="START_KEY" serializeAs="String">
                <value>77</value>
            </setting>
            <setting name="SELECT_KEY" serializeAs="String">
                <value>78</value>
            </setting>
            <setting name="IsTouchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreControlsHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyPressDuration" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IsTapOnly" serializeAs="String">
                <value>False</value>
            </setting>
        </CitraTouchControl.Properties.Settings>
    </userSettings>
</configuration>
